@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities { .clip-path-custom { clip-path: polygon(0 180%, 100% -100%, 100% 100%, 0 100%); } 
    .bg-custom-image {
        background-image: url(C:\Users\Chryssdale\OneDrive\Documents\BSIT_third_Year\ELECT1\Finals\PortfolioWebsite\Computer-Parts-Inv\computer.jpg);
    }
}
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    animation: fade-in-left 0.8s ease-out forwards;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}